:root{
    --primary-color:#e2dadb;
    --secondary-color: #dae2df;
    --accent1-color: #a2a7a5;
    --accent2-color: #6d696a;
    --heading-font:'Roboto Mono',serif;
    --text-font:'Roboto Condensed',arial;
}

header{
    display: flex;
    justify-content: space-around;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
}

p{
    font-family: var(--text-font);
}

.hero{
    background-image: url("../images/hero-image.jpg");
    color: white;
    width: 1000px;
    height: auto;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

section,.hero, .hero > article{
    border: 1px solid black;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    flex-grow: 1;
    text-align: center;
}

footer nav{
    margin-left: auto;
}

.hero article{
    display: flex;
}

a img{
    height: 20px;
}